body {
    font-family: $FONT-STACK;
    font-size: 18px;

    position: relative;

    min-height: 100%;
    margin: 0;
    padding: 0;

    color: $contentColor;
    background: $contentInverseColor;
    background-repeat: repeat-x;
    background-position: bottom;
}

i {
    font-style: italic;
}

.primary-color {
    color: $primaryBrandColor;
}

.primary-bg-color {
    background-color: $primaryBrandColor;
}

.secondary-color {
    color: $secondaryBrandColor;
}

.secondary-bg-color {
    background-color: $secondaryBrandColor;
}

.primary-color-dark {
    color: $darkPrimaryBrandColor;
}

.primary-bg-color-dark {
    background-color: $darkPrimaryBrandColor;
}

.content-inverse-color {
    &, &:visited {
        color: $contentInverseColor;
    }
}

.fill-bg-color {
    background-color: $fillColor;
}

.border-color {
    border-color: $borderColor;
}

ol, ul {
    list-style: none;

    li {
        line-height: 1.4em;
        margin: 0.5em 0 0;

        ol, ul {
            margin: 0.8em 0 0 1em;
        }
    }
}

ul.bullet, ol {
    margin: 1.25em 0 1.25em 1.25em;
}

ul.bullet > li {
    list-style-image: svg-url('<svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path fill="#{rgba($secondaryBrandColor, 1)}" d="M12,17.5A5.5,5.5,0,1,1,17.5,12,5.507,5.507,0,0,1,12,17.5Zm0-9A3.5,3.5,0,1,0,15.5,12,3.5,3.5,0,0,0,12,8.5Z"/></svg>');
}

ol li {
    list-style-type: decimal;
    list-style-image: none;
}

img {
    vertical-align: middle;

    border: 0;
}

ul.checked {
    > li {
        min-height: 24px;
        padding-left: 35px;

        background: svg-url('<svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon fill="#{rgba($secondaryBrandColor, 1)}" points="8.308 22.298 0.399 14.39 3.934 10.854 8.308 15.228 20.066 3.47 23.601 7.005 8.308 22.298"/></svg>') no-repeat;
    }
}

.reset_ol {
    counter-reset: item;

    li {
        display: block;
    }
    li:before {
        content: counters(item, '.') '. ';
        counter-increment: item;
    }
}

.border-bottom {
    border-bottom: 1px solid $borderColor;
}

.contract_error {
    background-color: $noticeColor !important;
}
//header
header, #header, .header {
    border-top: 2px solid $primaryBrandColor;
    border-bottom: 4px solid $secondaryBrandColor;
    background: $primaryBrandColor;
}

#header a, .header a {
    color: $contentInverseColor;
    text-decoration: none;
}

#header #menu-top li.active a, .header #menu-top li.active a {
    color: $secondaryBrandColor;
}
//footer rules
#footer {
    #footer-regulatory a {
        font-size: $FONT_SIZE_XS;
    }
    a {
        font-size: $FONT_SIZE_S;
        font-weight: 400;
        color: $contentInverseColor;
    }
}

.invisible {
    display: none !important;
}

.center-text {
    text-align: center;
}

.separator-line {
    margin-top: 10px;
    margin-bottom: 10px;
}

.align-self-center {
    align-self: center;
}

.no-transition {
    &, &:before, &:after {
        transition: none !important;
    }
}
