@import 'common_import';
@import 'dividers';

.oauth {
    .container, #wrapper.scope-confirms {
        margin: 0 auto;
        max-width: 480px;
    }
    .container {
        margin: 0 auto;
        max-width: 960px;
    }
    #wrapper {
        max-width: 300px;
        margin: auto;

        #frmLogin > div {
            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        .section-divider {
            padding: 10px 0;
        }
    }
    #inline {
        display: flex;
        margin-top: 50px;

        > div:nth-child(odd) {
            width: 100%;
        }
    }
    #oa_social_login_container {
        text-align: center;
        height: 44px;

        iframe {
            height: 95px !important;
            width: 100% !important;
        }
    }
    #wrapper.scope-confirms {
        width: 95%;

        .scopes {
            background-color: $fillColor;
            padding: 5px;
            margin-bottom: 0.5em;
        }
        .button {
            width: 49%;
            float: left;
            margin-bottom: 0.2em;
        }
        .button2 {
            margin-left: 2%;
        }
        @media screen and (max-width: 400px) {
            .button {
                width: 100%;
                float: none;
                margin-left: 0;
            }
        }
    }
    .no-margin {
        margin: 0;
    }
    .padding-bottom-10 {
        padding-bottom: 10px;
    }
    #main-header {
        margin: 20px 0;

        #logo {
            width: 100%;
            max-width: 250px;
        }
    }
    fieldset {
        padding: 15px 5px;
    }
    button, input {
        outline: none;
        width: 100%;
        height: 44px;
    }
    button {
        margin-top: 18px;
        margin-bottom: 0;
    }
    input {
        box-sizing: border-box;
        margin-bottom: 2%;
        text-align: center;
        background: $white;
        padding: 2px 3px;
        font-size: $FONT_SIZE_S;

        &.error-msg {
            border-color: $negativeColor;
        }
    }
    ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
        font-style: italic;
        color: $secondaryContentColor;
    }
    .vertical-separator {
        border-right: 1px solid $fillColor;
        width: 1px;
        height: 75px;
        margin-left: auto;
        margin-right: auto;

        &:first-child {
            margin-top: 28px;
        }
    }
    .circle-separator {
        border: 1px solid $fillColor;
        border-radius: 100%;
        padding: 15px 18px;
    }
    @media screen and (max-width: 768px) {
        #wrapper {
            order: -2;
        }
        .separators {
            order: -1;
            margin: 0 auto;
        }
        .vertical-separator {
            height: 1px;
            width: 130px;
            border-top: 1px solid $fillColor;

            &:first-child {
                margin-top: 40px;
                margin-left: 0;
            }
            &:not(:first-child) {
                display: inline-block;
                margin-left: -5px;
                position: relative;
                top: -17px;
            }
        }
        .circle-separator {
            width: 20px;
            display: inline;
            position: relative;
            margin-left: 131px;
            top: -13px;
        }
        #inline {
            flex-wrap: wrap;
        }
        .links {
            font-size: 13px;
            margin-top: 5%;
        }
    }
    @media screen and (max-width: 480px) {
        .container {
            margin: 0 10px;
        }
    }

    #reactivate-wrapper {
        width: 496px;
        margin: 90px auto;
        text-align: center;

        h1 {
            color: $primaryBrandColor;
        }
        
        form #button-wrapper {
            display: flex;
        }
    }
}
