.ui-datepicker {
    .ui-datepicker-month, .ui-datepicker-year {
        margin-right: 5px !important;
    }
    .ui-datepicker-next:hover, .ui-datepicker-prev:hover {
        opacity: 0.75;
        background: 0 0;
        border: none;
    }
    .ui-datepicker-next.ui-state-disabled:hover, .ui-datepicker-prev.ui-state-disabled:hover {
        opacity: 0.35;
    }
}
