---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Binary Style Guide</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% include typography.html %}
    <br />
    {% include buttons.html %}
    <br />
    {% include inputs.html %}
    <br />
    {% include forms.html %}
    <br />
    {% include tabs.html %}
    <br />
    {% include grid.html %}
    <br />
    {% include notifications.html %}
    <br />
    {% include tables.html %}
    <br />
    {% include loading.html %}
</body>
</html>
