<p>
  <a class="btn-primary" href="#">
      Link as a button
    </a>
  <button>Button</button>
  <a class="btn-secondary" href="#">
      Secondary
    </a>
  <button disabled>Disabled Button</button>
</p>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
&lt;a class=&quot;btn-primary&quot; href=&quot;#&quot;&gt;Link as a button&lt;/a&gt;

&lt;button&gt;Button&lt;/button&gt;

&lt;a class=&quot;btn-secondary&quot; href=&quot;#&quot;&gt;Secondary&lt;/a&gt;

&lt;button disabled&gt;Disabled Button&lt;/button&gt;
  </code>
</pre>
</div>
