<h3>Primary Palette</h3>
<!-- <div class="brand-blue-bg" style="height: 4rem">Brand blue <br><strong>#2a3052</strong></div>
<div class="brand-orange-bg" style="height: 4rem">Brand blue <br><strong>#e98024</strong></div> -->


<!-- <div class="f-row">
    <div class="f-item brand-blue-bg center" style="height: 4rem; color:white; align-self:center">Brand Blue
        <br><strong>#2a3052</strong></div>
    <div class="f-item brand-orange-bg center" style="height: 4rem; color:white">Brand Orange
        <br><strong>#e98024</strong></div>
</div> -->
<div class="f-row" style="text-transform: uppercase;">
    <div class="f-item" style="background:white;font-weight:bold;padding:0;">
        <div class="f-row flex-vertical">
            <div class="f-item" style="background-color:#20243e; color:#fff;height: 4rem;align-self:center">#20243e</div>
            <div class="f-item" style="background-color:#2a3052; color:#fff;height: 4rem;">Brand Blue<br>#2a3052</div>
            <div class="f-item" style="background-color:#555975; color:#fff;height: 4rem;">#555975</div>
            <div class="f-item" style="background-color:#7f8397; color:#fff;height: 4rem;">#7f8397</div>
            <div class="f-item" style="background-color:#aaacba; color:#fff;height: 4rem;">#aaacba</div>
            <div class="f-item" style="background-color:#d4d6dc; color:#fff;height: 4rem;">#d4d6dc</div>
            <div class="f-item" style="background-color:#dddee3; color:#fff;height: 4rem;">#dddee3</div>
        </div>
    </div>
    <div class="f-item" style="background:white;font-weight:bold;padding:0">
      <div class="f-row flex-vertical">
          <div class="f-item" style="background-color:#af601b; color:#000;height: 4rem;align-self:center">#af601b</div>
          <div class="f-item" style="background-color:#e98024; color:#000;height: 4rem;">Brand Orange<br>#e98024</div>
          <div class="f-item" style="background-color:#ed9950; color:#000;height: 4rem;">#ed9950</div>
          <div class="f-item" style="background-color:#f2b37c; color:#000;height: 4rem;">#f2b37c</div>
          <div class="f-item" style="background-color:#f6cca7; color:#000;height: 4rem;">#f6cca7</div>
          <div class="f-item" style="background-color:#fbe6d3; color:#000;height: 4rem;">#fbe6d3</div>
          <div class="f-item" style="background-color:#fcebdc; color:#000;height: 4rem;">#fcebdc</div>
      </div>
    </div>
</div>
<h3>Secondary Palette</h3>
<div class="f-row" style="background:white;font-weight:bold;padding:0;text-transform: uppercase;">
    <div class="f-item" style="background-color: #f2f2f2;height: 4rem; color:#000;">#f2f2f2</div>
    <div class="f-item" style="background-color: #dedede;height: 4rem; color:#000;">#dedede</div>
</div>
<h3>Notifications</h3>
<div class="f-row" style="text-transform: uppercase;">
    <div class="f-item" style="background:white;font-weight:bold;padding:0;">
        <div class="f-row flex-vertical">
            <div class="f-item" style="background-color:#71e2a3; color:#fff;height: 4rem;align-self:center">Success<br>#71e2a3</div>
            <div class="f-item" style="background-color:#ff9292; color:#fff;height: 4rem;">Error<br>#ff9292</div>
        </div>
    </div>
    <div class="f-item" style="background:white;font-weight:bold;padding:0">
      <div class="f-row flex-vertical">
          <div class="f-item" style="background-color:#ffde80; color:#fff;height: 4rem;align-self:center">Warning<br>#ffde80</div>
          <div class="f-item" style="background-color:#7dcced; color:#fff;height: 4rem;">Information<br>#7dcced</div>
      </div>
    </div>
</div>
