<div class="f-row">
  <div class="f-item" style="background:red;">this is test</div>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
code
  </code>
</pre>
</div>
<div class="f-row">
  <div class="f-item" style="background:red;">this is test</div>
  <div class="f-item" style="background:blue;">this is test</div>
  <div class="f-item" style="background:red;">this is test</div>
  <div class="f-item" style="background:blue;">this is test</div>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
code
  </code>
</pre>
</div>
<div class="f-row">
  <div class="f-item" style="background:red;">this is test</div>
  <div class="f-item" style="background:red;">this is test</div>
  <div class="f-item" style="background:red;">this is test</div>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
code
  </code>
</pre>
</div>
<div class="f-row">
  <div class="f-item" style="background:red;">this is test</div>
  <div class="f-item" style="background:red;">this is test</div>
  <div class="f-item" style="background:red;">this is test</div>
  <div class="f-item" style="background:red;">this is test</div>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
code
  </code>
</pre>
</div>
<div class="f-row">
  <div class="f-item" style="background:red;">this is test</div>
  <div class="f-item" style="background:red;">this is test</div>
  <div class="f-item" style="background:red;">this is test</div>
  <div class="f-item" style="background:red;">this is test</div>
  <div class="f-item" style="background:red;">this is test</div>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
code
  </code>
</pre>
</div>
<div class="f-row">
  <div class="f-item-10" style="background:red;">this is test</div>
  <div class="f-item-50" style="background:red;">this is test</div>
  <div class="f-item-10" style="background:red;">this is test</div>
  <div class="f-item-20" style="background:red;">this is test</div>
  <div class="f-item-10" style="background:red;">this is test</div>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
code
  </code>
</pre>
</div>
