<p class="notice-msg"><i>.f-demo</i> is for demonstration purposes only</p>
<!-- <div class="f-row">
  <div class="f-item">
    <div class="f-demo">Flex Item</div>
  </div>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
      &lt;div class=&quot;f-row&quot;&gt;
        &lt;div class=&quot;f-item&quot;&gt;flex item&lt;/div&gt;
      &lt;/div&gt;
  </code>
</pre>
</div> -->
<div class="f-row">
  <div class="f-item">
    <div class="f-demo">Flex Item</div>
  </div>
  <div class="f-item">
    <div class="f-demo">Flex Item</div>
  </div>
  <div class="f-item">
    <div class="f-demo">Flex Item</div>
  </div>
  <div class="f-item">
    <div class="f-demo">Flex Item</div>
  </div>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
      &lt;div class=&quot;f-row&quot;&gt;
        &lt;div class=&quot;f-item&quot;&gt;Flex Item&lt;/div&gt;
        &lt;div class=&quot;f-item&quot;&gt;Flex Item&lt;/div&gt;
        &lt;div class=&quot;f-item&quot;&gt;Flex Item&lt;/div&gt;
        &lt;div class=&quot;f-item&quot;&gt;Flex Item&lt;/div&gt;
      &lt;/div&gt;
  </code>
</pre>
</div>
<div class="f-row">
  <div class="f-item-67">
    <div class="f-demo">Flex Item 67%</div>
  </div>
  <div class="f-item-33">
    <div class="f-demo">Flex Item 33%</div>
  </div>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
      &lt;div class=&quot;f-row&quot;&gt;
        &lt;div class=&quot;f-item-67&quot;&gt;Flex Item&lt;/div&gt;
        &lt;div class=&quot;f-item-33&quot;&gt;Flex Item&lt;/div&gt;
      &lt;/div&gt;
  </code>
</pre>
</div>
<div class="f-row">
  <div class="f-item-25">
    <div class="f-demo">Flex Item 25%</div>
  </div>
  <div class="f-item-75">
    <div class="f-demo">Flex Item 75%</div>
  </div>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
      &lt;div class=&quot;f-row&quot;&gt;
        &lt;div class=&quot;f-item-25&quot;&gt;Flex Item 25%&lt;/div&gt;
        &lt;div class=&quot;f-item-75&quot;&gt;Flex Item 75%&lt;/div&gt;
      &lt;/div&gt;
  </code>
</pre>
</div>
<p>There are following clessnames:</p>
<table>
  <tr>
    <td><strong>.f-item-10</strong></td>
    <td>10%</td>
  </tr>
  <tr>
    <td><strong>.f-item-20</strong></td>
    <td>20%</td>
  </tr>
  <tr>
    <td><strong>.f-item-25</strong></td>
    <td>25%</td>
  </tr>
  <tr>
    <td><strong>.f-item-33</strong></td>
    <td>33%</td>
  </tr>
  <tr>
    <td><strong>.f-item-50</strong></td>
    <td>50%</td>
  </tr>
  <tr>
    <td><strong>.f-item-67</strong></td>
    <td>67%</td>
  </tr>
  <tr>
    <td><strong>.f-item-75</strong></td>
    <td>75%</td>
  </tr>
  <tr>
    <td><strong>.f-item-80</strong></td>
    <td>80%</td>
  </tr>
  <tr>
    <td><strong>.f-item-90</strong></td>
    <td>90%</td>
  </tr>
</table>
<br>
<br>
<p>Add <i>.flex-vertical</i> to flexbox container to make it vertical.</p>
<div class="f-row flex-vertical">
  <div class="f-item">
    <div class="f-demo">Flex Item</div>
  </div>
  <div class="f-item">
    <div class="f-demo">Flex Item</div>
  </div>
  <div class="f-item">
    <div class="f-demo">Flex Item</div>
  </div>
  <div class="f-item">
    <div class="f-demo">Flex Item</div>
  </div>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
    &lt;div class=&quot;f-row flex-vertical&quot;&gt;
      &lt;div class=&quot;f-item&quot;&gt;Flex Item&lt;/div&gt;
      &lt;div class=&quot;f-item&quot;&gt;Flex Item&lt;/div&gt;
      &lt;div class=&quot;f-item&quot;&gt;Flex Item&lt;/div&gt;
      &lt;div class=&quot;f-item&quot;&gt;Flex Item&lt;/div&gt;
    &lt;/div&gt;
  </code>
</pre>
</div>
