<form>
    <fieldset>
        <label>Hello</label>
        <input type="text">
    </fieldset>
    <p class="error-msg">Access denied</p>
    <button>Save</button>
</form>
<div class="code-sample">
    <pre class="prettyprint">
    <code>
      code
  </code>
</pre>
</div>

<div class="f-row f-row-around">
    <div class="f-item-50">
        <form class="material">
            <div class="form-group">
                <select>
                    <option>Value 1</option>
                    <option>Value 2</option>
                </select>
                <label for="select" class="control-label">Selectbox</label><i class="bar"></i>
            </div>
            <div class="form-group">
                <input type="text" required="required" />
                <label for="input" class="control-label">Textfield</label><i class="bar"></i>
            </div>
            <div class="form-group">
                <textarea required="required"></textarea>
                <label for="textarea" class="control-label">Textarea</label><i class="bar"></i>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked="checked" /><i class="helper"></i>I'm the label from a checkbox
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" /><i class="helper"></i>I'm the label from a checkbox
                </label>
            </div>
            <div class="form-radio">
                <div class="radio">
                    <label>
                        <input type="radio" name="radio" checked="checked" /><i class="helper"></i>I'm the label from a radio button
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="radio" /><i class="helper"></i>I'm the label from a radio button
                    </label>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" /><i class="helper"></i>I'm the label from a checkbox
                </label>
            </div>
            <div class="button-container">
                <button type="button">Submit</button>
            </div>
        </form>
    </div>
</div>
