<div class="row">
    <div style="background: #777">Column 1</div>
    <div style="background: #777">Column 2</div>
</div>
<div class="row">
    <div style="background: #777">Column 1</div>
    <div style="background: #777">Column 2</div>
    <div style="background: #777">Column 3</div>
    <div style="background: #777">Column 4</div>
</div>
<div class="row">
    <div style="background: #777">Column 1</div>
    <div style="background: #777">Column 2</div>
    <div style="background: #777">Column 3</div>
    <div style="background: #777">Column 4</div>
    <div style="background: #777">Column 5</div>
    <div style="background: #777">Column 6</div>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
      code
  </code>
</pre>
</div>
