<ul class="bullet">
    <li>Unordered list item 1</li>
    <li>Unordered list item 2</li>
    <li>Unordered list item 3</li>
</ul>

<ol>
    <li>Ordered list item 1</li>
    <li>Ordered list item 2</li>
    <li>Ordered list item 3</li>
</ol>

<div class="code-sample">
  <pre class="prettyprint">
    <code>
      &lt;ul class=&quot;bullet&quot;&gt;
          &lt;li&gt;Unordered list item 1&lt;/li&gt;
          &lt;li&gt;Unordered list item 2&lt;/li&gt;
          &lt;li&gt;Unordered list item 3&lt;/li&gt;
      &lt;/ul&gt;

      &lt;ol&gt;
          &lt;li&gt;Ordered list item 1&lt;/li&gt;
          &lt;li&gt;Ordered list item 2&lt;/li&gt;
          &lt;li&gt;Ordered list item 3&lt;/li&gt;
      &lt;/ol&gt;
  </code>
</pre>
</div>
