<div>
  <p class="info-msg">info message</p>
  <p class="success-msg">success message</p>
  <p class="notice-msg">notice message</p>
  <p class="error-msg">error message</p>
  <abbr rel="tooltip" title="message">
  text with tooltip
</abbr>
</div>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
    &lt;p class=&quot;info-msg&quot;&gt;info message&lt;/p&gt;
    &lt;p class=&quot;success-msg&quot;&gt;success message&lt;/p&gt;
    &lt;p class=&quot;notice-msg&quot;&gt;notice message&lt;/p&gt;
    &lt;p class=&quot;error-msg&quot;&gt;error message&lt;/p&gt;
  </code>
</pre>
</div>
