<table>
    <thead>
        <tr>
            <th>Heading</th>
            <th>Heading</th>
            <th>Heading</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Footing</td>
            <td>Footing</td>
            <td>Footing</td>
        </tr>
    </tfoot>
</table>
<div class="code-sample">
  <pre class="prettyprint">
    <code>
      &lt;table&gt;
          &lt;thead&gt;
              &lt;tr&gt;
                  &lt;th&gt;Heading&lt;/th&gt;
                  &lt;th&gt;Heading&lt;/th&gt;
                  &lt;th&gt;Heading&lt;/th&gt;
              &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
              &lt;tr&gt;
                  &lt;td&gt;Cell&lt;/td&gt;
                  &lt;td&gt;Cell&lt;/td&gt;
                  &lt;td&gt;Cell&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                  &lt;td&gt;Cell&lt;/td&gt;
                  &lt;td&gt;Cell&lt;/td&gt;
                  &lt;td&gt;Cell&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                  &lt;td&gt;Cell&lt;/td&gt;
                  &lt;td&gt;Cell&lt;/td&gt;
                  &lt;td&gt;Cell&lt;/td&gt;
              &lt;/tr&gt;
          &lt;/tbody&gt;
          &lt;tfoot&gt;
              &lt;tr&gt;
                  &lt;td&gt;Footing&lt;/td&gt;
                  &lt;td&gt;Footing&lt;/td&gt;
                  &lt;td&gt;Footing&lt;/td&gt;
              &lt;/tr&gt;
          &lt;/tfoot&gt;
      &lt;/table&gt;
  </code>
</pre>
</div>
