<div style="padding:10rem;">
    <div id="tabs" class="horizental">
        <ul role="tab-list" class="tabs-menu">
            <li role=tab aria-selected="true"><a href="#tab-21">Colors</a></li>
            <li role=tab><a href="#tab-22">Typography</a></li>
            <li role=tab><a href="#tab-23">Button</a></li>
            <li role=tab><a href="#tab-24">Form</a></li>
            <li role=tab><a href="#tab-25">List</a></li>
        </ul>
        <div role="tab-content">
            <div id="tab-21" class="tab-content">
                <p>Tab 1</p>
            </div>
            <div id="tab-22" class="tab-content">
                <p>Tab 2</p>
            </div>
            <div id="tab-23" class="tab-content">
                <p>Tab 3</p>
            </div>
            <div id="tab-24" class="tab-content">
                <p>Tab 4</p>
            </div>
            <div id="tab-25" class="tab-content">
                <p>Tab 5</p>
            </div>

        </div>
    </div>
</div>

<div class="code-sample">
    <pre class="prettyprint">
    <code>
      code
  </code>
</pre>
</div>
