// default states

#topbar,
.cashier-link,
.login-container,
.account-container {
    display: none;
}

// after access applied

.client-not-logged-in #topbar,
.client-is-real #topbar,
.client-has-real #topbar .button,
.client-is-virtual .authenticate-menu {
    display: none;
}

.client-logged-in.client-is-virtual #topbar,
.client-not-logged-in .login-container,
.client-logged-in .account-container,
.client-is-real .cashier-link {
    display: block;
}

.client-logged-in .account-container {
//    display: list-item;
}
