* {
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

*:not(input, .selectable, pre) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
