.f-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  &.flex-vertical {
    flex-direction: column;
    justify-content: flex-start;
  }
  &.f-row-start {
    justify-content: flex-start;
  }
  &.f-row-end {
    justify-content: flex-end;
  }
  &.f-row-between {
    justify-content: space-between;
  }
  &.f-row-around {
    justify-content: space-around;
  }
}
.f-item {
  flex: 1 1 auto;
}
.f-item-10 {
  flex: 0 0 10%;
  max-width: 10%;
}
.f-item-20 {
  flex: 0 0 20%;
  max-width: 20%;
}
.f-item-33 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.f-item-50 {
  flex: 0 0 50%;
  max-width: 50%;
}
.f-item-67 {
  flex: 0 0 66.666%;
  max-width: 66.666%;
}
.f-item-75 {
  flex: 0 0 75%;
  max-width: 75%;
}
.f-item-80 {
  flex: 0 0 80%;
  max-width: 80%;
}
.f-item-90 {
  flex: 0 0 90%;
  max-width: 90%;
}
/* align a flex item. default is set by flex-row which is center */
.f-item-start {
  align-self: flex-start;
}
.f-item-end {
  align-self: flex-end;
}
.f-item-center {
  align-self: center;
}
.f-item-base {
  align-self: baseline;
}
.f-item-stretch {
  align-self: stretch;
}
