@media all and (max-width: 759px) {
    html {
        font-size: $FONT_SIZE_N / 2 + $FONT_SIZE_S / 2; // halfway between N and S
    }
    .sitemap, .extra-award, .adcopy, .sidebar  {
        display: none;
    }
    .regulatory-logos img {
        height: 2rem !important;
    }
}
@media all and (max-width: 479px) {
    html {
        font-size: $FONT_SIZE_S;
    }
    .header-content {
        margin-left: 0;
    }
    h1 {
        text-align: center;
    }
    #logo {
        width: auto;
    }
    #logo > img:nth-child(2) {
        display: none;
    }
    .account-container {
        position: inherit;
    }
    .login-btn {
        margin: 1.3rem 0;
    }
    .nav-languages a {
        margin: 1.75rem;
    }
    .nav2nd {
        left: 0;
        right: 0;
    }
    .submenu a {
        text-align: center;
    }
    #logo,
    .sitemap,
    .footer,
    .msgbar-wrapper,
    .emphasis-wrapper-wrapper {
        display: none;
    }
    .content-wrapper {
        padding-top: 0;
    }
    nav div {
        padding: 0 .5rem;
    }
    .nav-trade,
    .nav-cashier,
    .nav-resources,
    .nav-help,
    .nav-account {
        width: $HEADER_HEIGHT_MOBILE;
        height: $HEADER_HEIGHT_MOBILE;
        padding: .5rem;
    }
    .nav1st li div {
        line-height: 0;
    }
    #page-wrapper {
        padding-top: 5rem;
    }
    .nav-cashier a,
    .nav-resources a,
    .nav-help a,
    .nav-account a {
        // color: transparent !important;
    }
    .submenu {
        font-size: $FONT_SIZE_S;
    }
    .submenu img {
        display: block;
        height: 2.5rem;
        margin: .25rem 0 .75rem 0;
    }
    .nav2nd li {
        font-size: 1.5rem;
    }
    .wide-form p {
        flex-ddirection: column;
    }
    .wide-form p > * {
        margin-right: 0;
    }
    .login-button {
        padding: 0 1em;
    }
    .overlay .dialog {
        padding-left: .5em;
        padding-right: .5em;
    }
    // .row {
    //     flex-direction: column;
    //     * {
    //         margin-bottom: 1rem;
    //     }
    // }
    ul[role=tabs], ul[role=segmented] {
        flex-direction: column;
    }
    .home-content {
        .hero hgroup, .trade-desc {
            text-align: center;
        }
    }
    .icon-desc {
        text-align: center;
    }
}
