table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th,
td {
    padding: .5rem;
    text-align: center;
    vertical-align: middle;
}

tr td:first-child, tr th:first-child {
    padding-left: 0;
}

tr td:last-child, tr th:last-child {
    padding-right: 0;
}

tr:focus {
    outline: none;
}

table ul {
    padding-left: 0;
    list-style: none;
}

.asset-index-content th {
    min-width: 6rem;
}

table.borderless tr {
    border: none !important;
}
