.inverse {
    background: #1d1d24; // #243036; // $COLOR_BRAND_BLUE;
    color: #eee;
}

.inferse ol li:before {
   color: #eee;
}

.inverse {
    a:not([class]),
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #eee;
    }
}
