a:not([class]),
a:not([class]):visited {
    color: $COLOR_BRAND_BLUE;
    font-weight: bold;
}
code,
fieldset,
p {
    margin-bottom: 1rem;
}
code {
    display: block;
    background: rgba($COLOR_BRAND_BLUE, 0.1);
    padding: 0.25rem 1rem;
    overflow: auto;
    color: $COLOR_DARK_GRAY;
}
h1,
h2,
h3,
h4 {
    font-weight: 300;
    line-height: 1.1;
    margin: 2rem 0 1rem;
}
h5,
h6 {
    font-weight: bold;
}
.font-size-xxl,
h1 {
    font-size: $FONT_SIZE_XXL;
}
.font-size-xl,
h2 {
    font-size: $FONT_SIZE_XL;
}
.font-size-l,
h3 {
    font-size: $FONT_SIZE_L;
}
.font-size-m,
h4 {
    font-size: $FONT_SIZE_M;
}
.font-size-n,
h5 {
    font-size: $FONT_SIZE_N;
}
.font-size-s {
    font-size: $FONT_SIZE_S;
}
.font-size-xs {
    font-size: $FONT_SIZE_XS;
}
button,
input,
optgroup,
option,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input,
textarea {
    vertical-align: middle;
}
ol li {
    list-style-type: decimal;
    list-style-image: none;
}
ul {
    margin: 0 0 1rem;
}
ol {
    margin: 0 0 1rem 1.5rem;
}
