.ui-accordion, .accordion, #accordion {
    .ui-accordion-header {
        border-radius: 0;
        margin-bottom: -3px;
        font-size: $FONT_SIZE_N;
        font-weight: normal;
    }
    .ui-icon {
        display: none;
        visibility: hidden;
    }
    .ui-accordion-icons, .ui-accordion-icons .ui-accordion-icons {
        padding-left: 1.5em;
    }
    .ui-state-active, .ui-state-default, .ui-state-hover {
        border: none;
        outline: none;
        background-repeat: no-repeat;
        background-position: right;
    }
    .ui-state-active.ui-state-default, .ui-state-active.ui-state-default.ui-state-hover {
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#{rgba($contentInverseColor, 1)}" d="M7.41,7.84,12,12.42l4.59-4.58L18,9.25l-6,6-6-6Z"/></svg>');
        background-color: $primaryBrandColor;
        border-color: $primaryBrandColor;
        color: $contentInverseColor;
    }
    .ui-state-default, .ui-state-hover {
        background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#{rgba($primaryBrandColor, 1)}" d="M8.59,16.59,13.17,12,8.59,7.41,10,6l6,6-6,6Z"/></svg>');
        background-color: $fillColor;
        border: 1px solid $borderColor;
        color: $contentColor;
    }
    .ui-state-hover {
        background-color: $borderColor;
    }
    .ui-accordion-content {
        border-radius: 0;
    }
    .ui-widget-content {
        border: 1px solid $borderColor;
    }
}
