@mixin link-button {
  color: $COLOR_WHITE;
  text-decoration: none;
  text-align: center;
  line-height:100%;
  background: $COLOR_GREEN;
  border-radius: 4px;
  text-transform: capitalize;
  padding: 10px 25px 10px 25px;
  display: inline-block;
  letter-spacing: 0.75px;
  &:visited {
    color: $COLOR_WHITE;
  }
  &:hover, &:active {
    text-decoration: none;
    background-color: $COLOR_GREEN;
  }
}
.button {
    cursor: pointer;
    margin-bottom: 0.5em;
    &:hover {
        color: $COLOR_WHITE;
        text-decoration: none;
    }
    button,
    span {
        @include link-button;
        overflow: visible;
        border: 0;
    }
}
.button-disabled {
    cursor: pointer;
    margin-bottom: 0.5em;
    &:hover {
        color: $COLOR_BLACK;
        background: $COLOR_GRAY;
        text-decoration: none;
    }
    button,
    span {
        @include link-button;
        overflow: visible;
        white-space: nowrap;
        border: 0;
        font-weight: bold;
        color: $COLOR_BLACK;
        background: $COLOR_GRAY;
        cursor: default;
        &:active,
        &:hover {
            color: $COLOR_BLACK;
            background: $COLOR_GRAY;
        }
    }
}
