@mixin link-button {
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    text-transform: capitalize;
    padding: 10px 25px;
    display: inline-block;
    font-weight: 400;
    font-family: inherit;
    border-radius: $BORDER_RADIUS;
    box-shadow: $z-depth-1;
    transition: box-shadow .25s;
    &:active,
    &:hover {
        text-decoration: none;
        box-shadow: $z-depth-1-half;
        transition: box-shadow .25s;
    }
}
button {
    @include link-button;
    cursor: pointer;
    font-size: $FONT_SIZE_N;
    border: 0;
    background: $positiveColor;
    color: $contentInverseColor;    
    &:visited {
        color: $contentInverseColor;
    }
    &:active,
    &:hover {
        background-color: $darkPositiveColor;
    }
}
.button {
    cursor: pointer;
    margin-bottom: 0.5em;
    span {
        @include link-button;
        overflow: visible;
        border: 0;
        color: $contentInverseColor;
        background: $positiveColor;
        &:hover {
          background-color: $darkPositiveColor;
        }
        &visited{
          color: $contentInverseColor;
        }
    }
}
.button-secondary {
    cursor: pointer;
    margin-bottom: 0.5em;
    span {
        @include link-button;
        overflow: visible;
        border: 0;
        color: $black;
        background: $white;
        border: 1px solid $fillColor;
        border-radius: $BORDER_RADIUS;       
        &:hover {
            text-decoration: none;
            background: $secondaryContentColor;
            border: 1px solid $secondaryContentColor;
        }
    }
}
.button-disabled {
    cursor: pointer;
    margin-bottom: 0.5em;
    border-radius: $BORDER_RADIUS;
    box-shadow: none!important;
    span {
        @include link-button;
        overflow: visible;
        white-space: nowrap;
        border: 0;
        color: $borderColor;
        background: $fillColor;
        cursor: default;
        box-shadow: none!important;
        &:active,
        &:hover {
            color: $borderColor;
            background: $fillColor;
        }
    }
}
