//Brand colors

//$primaryBrandColor:   #2A3052;

//Secondary colors
//$COLOR_LIGHT_GRAY:  #F2F2F2;
//$borderColor:     #DEDEDE;
//$black: #44484C;
//$primaryBrandColor: #394171;
//$darkPrimaryBrandColor: #15212D;
//$noticeColor:    #FEF1CF;
//$positiveColor:     #2E8836;
//$darkPositiveColor: #14602B;
//$contentColor:     #000;
//$contentInverseColor:     #FFF;

$black: #000;
$white: #fff;
$primaryBrandColor: #0D4781;
$darkPrimaryBrandColor: #0D4781;
$secondaryBrandColor: #0D4781;
$contentColor: #000;
$contentInverseColor: #FFF;
$secondaryContentColor: #C2C2C2;
$borderColor: #DEDEDE;
$fillColor: #F2F2F2;
$positiveColor: #0D4781;
$darkPositiveColor: #013365;
$negativeColor: #C03;
$noticeColor: #FEF1CF;
$chartColor: #6B8Fb9;
$chartAreaColor: rgba(128,179,236,0.3);
$fx-BorderColor: #dedede;
