//Brand colors
$COLOR_ORANGE: #E98024;
$COLOR_BLUE:   #2A3052;

//Secondary colors
$COLOR_LIGHT_GRAY:  #F2F2F2;
$COLOR_GRAY:     #DEDEDE;
$COLOR_DARK_GRAY: #44484C;
$COLOR_LIGHT_BLUE: #394171;
$COLOR_DARK_BLUE: #15212D;
$COLOR_YELLOW:    #FEF1CF;
$COLOR_GREEN:     #2E8836;
$COLOR_DARK_GREEN: #14602B;
$COLOR_BLACK:     #000;
$COLOR_WHITE:     #FFF;
