body
{
    font-family: $FONT-STACK;
    font-size: 18px;

    position: relative;

    min-height: 100%;
    margin: 0;
    padding: 0;

    color: $COLOR_BLACK;
    background: $COLOR_WHITE;
    background-repeat: repeat-x;
    background-position: bottom;
}
.primary-color{
  background-color:$COLOR_BLUE;
}
.primary-bg-color{
  background-color:$COLOR_BLUE;
}
.secondary-color{
  color:$COLOR_ORANGE;
}
.secondary-bg-color{
  background-color:$COLOR_ORANGE;
}
.primary-color-dark{
  background-color:$COLOR_DARK_BLUE;
}
.primary-bg-color-dark{
  background-color:$COLOR_DARK_BLUE;
}
header,
#header,
.header
{
    border-top: 2px solid $COLOR_LIGHT_BLUE;
    border-bottom: 4px solid $COLOR_ORANGE;
    background: $COLOR_BLUE;
}
ol,
ul
{
    list-style: none;
}
ul.bullet
{
    margin: 1.25em 0 1.25em 1.25em;
}
ol
{
    margin: 1.25em 0 1.25em 1.25em;
}
ul.bullet li
{
    list-style-image: url('data:image/svg+xml;utf8,<svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><defs><style>.cls-1{fill:#{rgba($COLOR_ORANGE, 1)};}</style></defs><title>bullet</title><path class="cls-1" d="M12,17.5A5.5,5.5,0,1,1,17.5,12,5.507,5.507,0,0,1,12,17.5Zm0-9A3.5,3.5,0,1,0,15.5,12,3.5,3.5,0,0,0,12,8.5Z"/></svg>');
}
ol,
ul
{
    li
    {
        line-height: 1.4em;

        margin: .5em 0 0;
        ol,
        ul
        {
            margin: .8em 0 0 1em;
        }
    }
}
ol li
{
    list-style-type: decimal;
    list-style-image: none;
}
img
{
    vertical-align: middle;

    border: 0;
}
ul.checked
{
    li
    {
        min-height: 24px;
        padding-left: 35px;

        background: url('data:image/svg+xml;utf8,<svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.cls-1{fill:#{rgba($COLOR_ORANGE, 1)};}</style></defs><title>tick</title><polygon class="cls-1" points="8.308 22.298 0.399 14.39 3.934 10.854 8.308 15.228 20.066 3.47 23.601 7.005 8.308 22.298"/></svg>') no-repeat;
    }
}
.reset_ol
{
    counter-reset: item;
    li
    {
        display: block;
    }
    li:before
    {
        content: counters(item, '.') '. ';
        counter-increment: item;
    }
}
