.ui-dialog-titlebar-buttonpane .ui-corner-all.ui-state-default {
    border: 0px solid $primaryBrandColor!important;
    background: $primaryBrandColor!important;
}

.ui-widget-header {
    border: 1px solid $primaryBrandColor!important;
    background: $primaryBrandColor!important;
    color: #FFFFFF!important;
    font-family: $FONT-STACK !important;
    font-weight: normal!important;
}
