.section-divider {
    display: flex;
    > div {
        &:not(.faded) {
            flex: 1;
        }
        &.border-bottom-light-gray {
            border-bottom: 1px solid $fillColor;
        }
        &.faded {
            color: $secondaryContentColor;
            padding: 0 20px;
        }
    }
}
