select, input, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    padding: 2px 3px;
    border: 1px solid $fillColor;
    background: $contentInverseColor;
    border-radius: $BORDER_RADIUS;
}
.hint {
    font-size: $FONT_SIZE_S;
    color: $black;
    margin-top: 3px
}
placeholder {
  color:$secondaryContentColor;
}
