#topbar, .topbar {
    width: 100%;
    line-height: 1;
    font-size: 70%;
    text-align: right;
    padding: 3px 0;
    z-index: 2;
    #select_language {
        opacity: 0;
        visibility: hidden;
        background-color: $fillColor;
        border: 1px solid $borderColor;
        color: $black;
        position: relative;
        right: -165px;
        .nav-caret {
            color: $black;
        }
        li:nth-child(2) {
            margin-top: 2px;
        }
        li:not(:first-child) {
            padding-left: 29px;
        }
    }
    #display_language {
        background-color: $darkPrimaryBrandColor;
        border: 1px solid $darkPrimaryBrandColor;
        color: $white;
        height: 18px;
        .nav-caret {
            color: $white;
        }
    }
    #select_language, #display_language {
        float: right;
        text-align: left;
        padding: 0;
        margin: 0;
        width: 163px;
        font-size: $FONT_SIZE_S;
        li {
            cursor: pointer;
            margin: 3px;
            &:first-child {
                display: inline-block;
                margin-bottom: 0;
                margin-left: 8px;
            }
        }
    }
    .language {
        vertical-align: text-bottom;
        padding: 0 5px;
        display: inline-flex;
        min-width: 106px;
    }
    .nav-caret {
        vertical-align: super;
    }
    .world {
        width: 16px;
        height: 16px;
        display: inline-block;
    }
    .world-white {
        background-image: svg-icon('world', $white);
    }
    .world-black {
        background-image: svg-icon('world', $black);
    }
}

body .topbar {
    padding: 0 11px;
}

#topbar, #topbar a, .topbar, .topbar a {
    color: $contentInverseColor;
    &:hover {
        text-decoration: none;
    }
}
