.logo-wrapper {
    display: inline-flex;
    .binary-logo-text {
        margin-top: 10px;
        img.responsive {
            width: 80%;
        }
    }
    .logo-parent {
        display: inline-flex;
    }
}

.logo-parent {
    padding: 10px 0;
}

.logo {
    display: inline-block;
    width: 24%;
}

.binary-logo-text {
    display: inline-block;
    padding: 0 10px;
    img.responsive {
        width: 90%;
    }
}

img.responsive{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 769px) {
    #header, .header {
        .logo {
            width: 100%;
        }
        .binary-logo-text {
            display: none;
        }
    }
}
