.oauth {
    .container, #wrapper.scope-confirms {
        margin: 0 auto;
        max-width: 480px;
    }
    .container {
        margin: 0 auto;
        max-width: 480px;
        #wrapper {
            &.login {
                margin: 15px auto;
                max-width: 300px;
            }
        }
    }
    #wrapper.login {
        margin: 150px auto;
        max-width: 360px;
        #main-header #logo {
            margin: 0 auto;
        }
    }
    #wrapper.scope-confirms {
        width: 95%;
        .scopes {
            background-color: $fillColor;
            padding: 5px;
            margin-bottom: 0.5em;
        }
        .button {
            width: 49%;
            float: left;
            margin-bottom: 0.2em;
        }
        .button2 {
            margin-left: 2%;
        }
        @media screen and (max-width: 400px) {
            .button {
                width: 100%;
                float: none;
                margin-left: 0;
            }
        }
    }
    #main-header {
        margin: 20px 0;
        #logo {
            width: 100%;
            max-width: 250px;
        }
    }
    fieldset {
        padding: 15px 5px;
    }
    button, input {
        outline: none;
        width: 100%;
        height: 44px;
    }
    button {
        margin-top: 15px;
    }
    input {
        box-sizing: border-box;
        margin-bottom: 2%;
        text-align: center;
        background: $white;
        padding: 2px 3px;
        font-size: $FONT_SIZE_S;
        &.error-msg {
            border-color: $negativeColor;
        }
    }
    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {
        font-style: italic;
        color: $secondaryContentColor;
    }
}
