.sidebar-left {
  ul {
    font-size:$FONT_SIZE_N;
    li {
      list-style-image: none;
      margin: 0;
      background: $fillColor;
      line-height: 150%;
      border-bottom: 1px solid $contentInverseColor;
      &:hover {
        background: $borderColor;
      }
      a {
        font-weight: normal;
        text-decoration: none;
        display: block;
        padding: 5px 5px 5px 10px;
        color: $primaryBrandColor;
      }
    }
    li.selected {
      background: $primaryBrandColor;
      a {
        color: $contentInverseColor;
        text-decoration: none;
      }
    }
  }
}
