.tabs-container, .has-tabs {
    padding: 0;
    ul.ui-tabs-nav {
        border: none;
        border-radius: 0;
        padding: 0;
        margin-left: 0;
        background: none;
        li {
            border: none;
            list-style-image: none;
            background: $COLOR_LIGHT_GRAY;
            border-radius: $BORDER_RADIUS $BORDER_RADIUS 0 0;
            margin: 0 2px 0 0;
            padding: 0 10px;
            a, a:visited {
                padding: 0 !important;
                font-weight: normal;
                text-decoration: none;
                color: $COLOR_BLACK;
                font-size: 90%;
                background: transparent;
            }
        }
        li.active,
        li.ui-tabs-active {
            background: $COLOR_BLUE;
            color: $COLOR_WHITE;
            a {
                background: none;
                color: $COLOR_WHITE;
                font-weight: normal;
                text-decoration: none;
                padding: 0;
                outline: none;
            }
            span.a-active {
                line-height: 2;
            }
        }
    }
    .ui-tabs-panel {
        border: 1px solid $COLOR_GRAY;
        padding: 10px;
    }
}
