h1, h2, h3, h4, li, p, a, span {
    text-rendering: optimizelegibility;
}
a, a:visited {
    color: $COLOR_BLUE;
    text-decoration: none;
    font-weight: bold;
    &:hover, &:active {
        text-decoration: underline;
    }
}
p {
    margin: 1em 0;
    line-height: 1.4em;
}
.font-n{
  font-size: $FONT_SIZE_N;
}
.font-s{
  font-size: $FONT_SIZE_S;
}
.font-xs{
  font-size: $FONT_SIZE_XS;
}
h1 {
    font-size: 36px;
    font-weight: 300;
    color: $COLOR_ORANGE;
    a {
        color: $COLOR_ORANGE !important;
    }
}
h1.dark {
    color: $COLOR_BLACK;
    a {
        color: $COLOR_BLACK !important;
    }
}
h2 {
    font-size: 28px;
    color: $COLOR_BLUE;
    a {
        color: $COLOR_BLUE !important;
    }
    em {
        text-decoration: underline;
    }
    &.center {
        text-align: center;
        margin: 1.25em auto;
    }
}
h3 {
    color: $COLOR_BLACK;
    a {
        color: $COLOR_BLACK !important;
    }
    font-size: 22px;
}
h4 {
    color: $COLOR_BLACK;
    a {
        color: $COLOR_BLACK !important;
    }
    font-size: 18px;
}
select, input, button, textarea {
    background: $COLOR_WHITE;
    border: 1px solid $COLOR_GRAY;
    padding: 2px 3px 2px 3px;
}
