.popup_bet_desc {
    padding: 5px 0;
    border: 1px solid #DEDEDE;
}
#sell_popup_container {
    width: 100%;
    font-size: 80%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    a.close {
        top: 0;
        right: 0;
    }

    .inpage_popup_content {
        margin: 0;
        #explanation-content {
            margin-top: 10px;
            text-align: left;
        }
        #sell_content_wrapper {
            .sell_price_wrapper {
                margin-top: 10px;
                #sell_price_container {
                    margin: 0 auto;
                    width: 60%;
                    display: inline-block;

                    .stylized_price {
                        min-width: 155px;
                        width: 40%;
                        margin-bottom: 5px;
                        display: inline-block;
                    }

                    #sell_price_sparkline {
                        padding: 0;
                        width: 40%;
                        text-align: left;
                        display: inline-block;
                    }
                }

                #sell_info {
                    display: inline-block;
                    width: 30%;
                }
                .form_button {
                    display: inline-block;
                    margin: 0 auto;
                    vertical-align: top;
                }
            }

            .contract_barriers{
              width: auto;
              margin: 0 auto;
              td {
                margin: 0;
                border: none;
                text-align: left;
                padding: 0 2px;
                &.diff {
                  text-align: right;
                }
                &.dir {
                  text-align: center;
                }
              }
            }

            #message_container_wrapper {
                clear: both;
                padding: 0; // keep padding 0 so when there are no warnings, the container is not displayed
                background: none;
            }
            #overlay-wrapper {
                position: absolute;
                top: 0;
                left:0;
                width: 100%;
                height: 90%;
                background-color: #fff;
                filter:alpha(opacity=50);
                opacity: 0.5;
                -moz-opacity: 0.5;
                z-index: 150000;
            }
        }

        .bet_confirm_wrapper {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 40px;
        }

        .note {
            clear: both;
            margin: 20px;
            margin-top: 0;
            text-align: left;
        }

        #confirmation_table {
            font-size: 16px;
            border: none;
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;

            th, td {
                width: auto;
            }

            .standout {
                width: 40%;
            }
            .standin  {
                width: 30%;
            }
        }

        .trade_ref {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .account_balance {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
