.sidebar .button {
    width: 100%;
}
.sidebar {
    ul {
        border-radius: $BORDER_RADIUS;
        overflow: hidden;
        li {
            list-style-image: none;
            margin: 0;
            background: $COLOR_LIGHT_GRAY;
            line-height: 150%;
            border-bottom: 1px solid #fff;
            &:hover {
                background: $COLOR_GRAY;
            }
            a {
                font-weight: normal;
                text-decoration: none;
                display: block;
                padding: 5px 5px 5px 10px;
            }
        }
        li.selected {
            background: $COLOR_BRAND_BLUE;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}
.sidebar-button {
    margin-top: 1rem;
}
.code-sample {
    background-color: $COLOR_LIGHT_GRAY;
    overflow-x: auto;
    width: 90%;
    font-family: monospace;
    white-space: pre;
    padding: 1rem;
}
.contact-content > .row {
    .col:nth-child(2) {
        flex: 2;
    }
    .col:nth-child(3) {
        flex: 3;
    }
}
.skype img{
    max-width: 35px;
}
