#betpage {
    .tab-content {
        display: block;
    }
    .tab-menu {
        margin-bottom: 1rem;
    }
    #bet_container_inner {
        display: flex;
    }
    #bet_calculation_container {
        margin-left: 1rem;
        flex: 1;
    }
}

.batch_transaction_total {
    text-align: right;
    font-weight: bold;
}

.batch_transaction_total_price {
    text-align: center;
    font-weight: bold;
}

#bestpage #content-holder #content {
    width: 100%;
    > .content-tab-container {
        width: 100%;
      .tab-content-wrapper {
        width: 100%;
        margin: 0 auto;
        #tab_graph-content {
          width: 100%;
        }
        #tab_ohlc-content {
          #prices_statistics_table {
            .daily_price_stats_head {
                .table_heading{
                  text-align: center;
                  background-color: $COLOR_LIGHT_GRAY;
                  font-weight: bold;
                  font-size: 1.1em;
                }
                hr {
                  display: block;
                }
            }
          }
        }
        form.smallfont {
          .bet_bottom_loading_image {
            padding: 10px 15px;
          }
          height: 40px;
        }
      }
    }
  #bet_container {
    margin-bottom:20px;
    fieldset {
      border: 0;
    }
    #betInputBox_container {
      position: relative;
      z-index: 10;
      margin: 0;
      .tab-content {
         border: 1px solid $COLOR_GRAY;
         min-height: 369px;
      }
      .tab-content-wrapper, .tab-content {
        background-color: transparent;
      }
      .tab-menu {
        ul#betsTab {
          border-bottom: none;
          > li {
            padding: 0;
            a.tm-a {
              padding: 0 5px 0 5px;
              width: auto;
            }
          }
        }
      }
    }
    .unicode-info-icon {
        font-size: 14px;
    }
    #bet_calculation_container {
      #page_timeout_notice {
        padding: 10px;
        background: white;
      }
      .rbox-content {
        padding: 0;
      }
      .bet-error-box {
        clear: both;
        margin: 0;
        margin-top: 27px;
        margin-left: 20px;
        padding: 10px;
        width: 380px;
        color: $COLOR_TEXT;
        background-color: $COLOR_YELLOW;
        p {
          margin: 0;
        }
      }
      .rbox {
        margin: 0;
        .rbox-wrap {
          min-height: 140px;
          .bet-error-box {
              margin: 0;
              padding: 1em;
              font-size: 0.8em;
              width: auto;
          }
        }
        .form_button {
          margin-bottom: 0;
        }
      }
      /* loading section for bet container */
      .rbox-bg-alt {
        background: none;
        .rbox-content {
          background: none;
          padding: 0;
        }
      }
      .bet_pricebox_wrapper {
          padding: 0;
          margin: 0;
      }
    }
    #bet_cost_container {
      display: inline-block;
      background: white;
      .rbox-wrap {
        border-bottom: 1px solid $COLOR_LIGHT_GRAY;
      }
      form {
        width: 40%;
        position: relative;
      }
      .pricing-details {
        top: 1px;
      }

      /* Pricing Table */
      .draggable {
        form {
          width: auto;
        }
        .odd {
          background: $COLOR_LIGHT_GRAY;
        }
        .rbox {
          border: 1px solid $COLOR_GRAY;
          position: relative;
        }
        .rbox-table-full {
          border: 1px solid $COLOR_LIGHT_GRAY;
          font-size: 93%;
          text-align:left;
          td {
            text-align:left;
            border: 1px solid $COLOR_LIGHT_GRAY;
            border-width: 0 1px;
          }
        }
      }
    }

    #loading-price {
      text-align: center;
    }
    #spot {
      padding: 1px 2px;
    }

    .basicInputForm {
      .error {
        background-color: $COLOR_YELLOW;
      }
      #no_bets {
        text-align: center;
        margin: 30px 0 70px;
      }
    }

    #betInputBox {
      button {
        margin: 1em auto 0;
      }
      form {
        margin-top: 21px;
        fieldset {
          background:none;
        }
      }
      div {
        clear: both;
        padding: 10px 0;
      }
      #std_loading_img {
        min-height: 300px;
        padding-top: 50px;
      }
      div.toggle-content {
          margin-top: 0;
      }
    }
    #expiry,
    #type {
      width: 163px;
    }
    .tab-content-wrapper p.required {
      padding-top: 3px;
    }
  }
}

.stylized_cents {
  font-size: 65%;
  vertical-align: text-top;
  margin-left: .02em;
  margin-right: 0.1em;
}

.stylized_currency {
  font-size: 75%;
  text-align: left;
}

.stylized_price {
  font-weight: bold;
  font-size: 150%;
}

.price_moved_up {
  background-color: $COLOR_BRAND_BLUE;
  color: white;
}

.price_moved_down {
  background-color: $COLOR_RED;
  color: white;
}

.bet_cost {
  text-align: center;
  width: 40%;
  float: left;
  margin: 0 5px 5px 5px;
}

.bet_cost em {
  font-style: normal;
}

.bet_cost b {
  font-size: 128%;
}

.bet_description {
  width: 55.5%;
  float: right;
  padding: 0 3px 3px 0;
  strong:first-child {
      font-size: 130%;
  }
}

.bet_return {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: $COLOR_GRAY;
  line-height: 1.8em;
  font-size: 0.7em;
  white-space: nowrap;
  bottom: 0;
}

.price_box {
  padding: 0;
  margin-top: 20;
  border: 1px solid $COLOR_LIGHT_GRAY;
  a {
    color: $COLOR_BRAND_BLUE;
  }
}

/* added for the underlying highlight */
.is_intraday {
    background-color: $COLOR_GRAY;
}

.trade_confirm_container {
    overflow: display;
    margin: 0;
    padding: 0;
    text-align: center;
    border: solid 1px $COLOR_LIGHT_GRAY;
    background: $COLOR_LIGHT_GRAY;
}

.bet_confirm_wrapper {
    padding: 0;
    margin: 0;

    h2, h3, h4 {
        margin-top: 30px;
    }

    p, div {
        font-size: 16px;
    }

    .bet_confirm_error_message {
        margin: 10px 0;
    }

    .price {
        font-weight: bold;
        font-size: 100%;
    }

    .bet_confirm_desc {
        float: clear;
        margin: 0 10px;
        padding: 10px 5px;
        text-align: justify;
        border: solid 2px $COLOR_GRAY;
        background: white;
    }

    .account_balance {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        background: $COLOR_BRAND_ORANGE;
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .trade_ref {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #confirmation_table {
        font-size: 16px;
        border: none;
        margin: 0;

        th, tr, td {
            border: none;
            padding-top: 0;
            text-align: center;
            vertical-align: middle;
        }

        th {
            padding-bottom: 5px;
        }

        span.notes {
            font-size: 12px;
            margin: 0;
            padding: 0;
            padding-top: 6px;
        }

        .success {
            background: $COLOR_BRAND_ORANGE;
            color:      white;
            padding-left: 1px;
            padding-right: 1px;
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}

.standout {
    font-weight: bold;
    .price {
        color: $COLOR_BRAND_ORANGE;
    }
}
.standin {
    font-size: 100%;
    font-weight: normal;
}
.profit {
    color: $COLOR_GREEN;
}
.loss {
    color: $COLOR_RED;
}
.with_right_border {
    border-right: solid 1px black;
}
.with_left_border {
    border-left: solid 1px black;
}
#buy_confirm_container {
    position: absolute;
    overflow: display;
    z-index: 100;
    margin: 0;
    top: 0;
    padding: 0;
    right: 0;
    width: 100%;

    a.visualization {
        font-size: 14px;
        font-weight: normal;
        text-decoration: underline;
    }

    .account_balance {
        padding: 10px 0;
        margin: 0;
    }

    #confirmation_table {
        &.rbox {
            padding-bottom: 0 !important;
        }
    }
}



#bet_calculation_container {
    .rbox-heading {
        background-color: transparent;
        margin-bottom: 0;
    }
    h4 {
        padding: .5rem 0 .5em 4rem !important;
        text-transform: capitalize;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .asian_up {
        background-image: url("../images/icons/trade-asian-up.svg");
    }
    .asian_down {
        background-image: url("../images/icons/trade-asian-down.svg");
    }
    .differs {
        background-image: url("../images/icons/trade-differs.svg");
    }
    .matches {
        background-image: url("../images/icons/trade-match.svg");
    }
    .rises {
        background-image: url("../images/icons/trade-rise.svg");
    }
    .falls {
        background-image: url("../images/icons/trade-fall.svg");
    }
    .higher {
        background-image: url("../images/icons/trade-higher.svg");
    }
    .lower {
        background-image: url("../images/icons/trade-lower.svg");
    }
    .touches {
        background-image: url("../images/icons/trade-touch.svg");
    }
    .does_not_touch {
        background-image: url("../images/icons/trade-notouch.svg");
    }
    .stays_between {
        background-image: url("../images/icons/trade-stays-between.svg");
    }
    .goes_outside {
        background-image: url("../images/icons/trade-goes-outside.svg");
    }
    .ends_between {
        background-image: url("../images/icons/trade-ends-between.svg");
    }
    .ends_outside {
        background-image: url("../images/icons/trade-ends-outside.svg");
    }
}
