/* HOME PAGE RULES */
.ad3-content#content {
  width: 100%;
}
.ad3-content {
   #banner {
    background: url("../images/pages/ad/map.png") repeat 0 0;
    background-size: contain;
   }
   .xtopseparator{
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(68,72,76,0.5), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(68,72,76,0.5), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(68,72,76,0.5), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(68,72,76,0.5), rgba(0,0,0,0));
    display: block!important;
   }
  #open-account {
    background: $COLOR_BRAND_ORANGE;
    color: white;
    text-align: center;
    border-radius: 0;
    margin-top: 10px;
    text-align: center;
    padding: 0 0 0;
    p {
      line-height: 2em;
      margin: 0;
      background: $COLOR_BRAND_BLUE;
      font-size: 100%;
    }
    #virtual-fields {
        input, select, textarea {
            border-radius: 3px;
            padding: 0px;
        }
        margin: 4px 0;
    }
    input[type=submit] {
      background: $COLOR_BRAND_BLUE;
      padding: 9px 10.83333%;
      border: 0;
      white-space: normal;
      font-size:18px;
      &:hover {
                text-decoration: none;
                background-color: $COLOR_GREEN;
            }
    }
    form {
        font-size: 100%;
    }
  }
#xsection1 {
  padding: 30px 0;
  display: inline-block;
  p{
    font-size:110%
  }
  ul{
    margin-left:50px;
    }
    li {
    margin: 1em 0 0;
    span {
      color: $COLOR_GREEN;
      font-weight: 700;
    }
    i {
      color: $COLOR_BRAND_ORANGE;
    }
  }
  h1 {
    margin-top:20px;
  }
}

#xreason {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $COLOR_LIGHT_GRAY;
    padding-bottom: 40px;
}
#xtop {
    padding-top: 50px;
    text-align: center;
    p{
      font-size:110%;
    }
}
#xbadges {
    img {
        text-align: center;
        max-width: 100px;
        position: relative;
        top: 50px;
        margin-right: 20px;
    }
    text-align: center;
}
.xhead {
    margin-bottom: 20px;
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid $COLOR_GRAY;
}
.inlined {
    display: inline-block;
}
.xhead2 {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid $COLOR_GRAY;
}
.xlist1 {
    background: url(../images/pages/home/xicon-1.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.xlist2 {
    background: url(../images/pages/home/xicon-2.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.xlist3 {
    background: url(../images/pages/home/xicon-3.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.xlist4 {
    background: url(../images/pages/home/xicon-4.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.xcta {
    position: relative;
    bottom: 30px;
    text-align: center;
    .xreal {
        margin-right: 10px;
        span {
            padding: 10px 25px;
        }
    }
    .xvirtual span {
        background-color: $COLOR_BRAND_BLUE;
        padding: 10px 25px;
        &:hover {
            text-decoration: none;
            background-color: $COLOR_GREEN;
        }
    }
}
#xtestimonial{
    padding-top:40px;
}
.xquote {
    background-color: $COLOR_LIGHT_GRAY;
    padding: 20px 40px;
    p {
        font-style: italic;
    }
}
.xbubble-right {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 5px 0 10px;
    border-color: $COLOR_LIGHT_GRAY  transparent transparent transparent;
    position: relative;
    left: 80%;
}
.xbubble-left {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 10px 0 5px;
    border-color: $COLOR_LIGHT_GRAY  transparent transparent transparent;
    position: relative;
    left: 10%;
}
.xquoter-left {
    text-align: left;
}
.xquoter-right {
    text-align: right;
}
.xemail, .xpass {
    width: 35%;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px !important;
    font-size: 14px;
}
.xemail {
    margin-right: 20px;
}
.xpass {
    margin-left: 20px;
}
.xtopcta {
    display: inline-block;
    width: 35%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 15px!important;
}
.xquoter-left p span, .xquoter-right p span {
    font-size: 12px;
    font-style: italic;
}
#xpayment a:hover{
  text-decoration: none;
}
}

@media screen and (max-width: 480px) {
    .ad3-content{
        #xtop {
            padding-top: 30px;
        }
        .xhead2 {
            margin-top: 30px;
        }
        .xemail {
            width: 80% !important;
            margin-right: 0;
        }
        .xpass {
            width: 80% !important;
            margin-left: 0;
        }
        .xtopcta {
            width: 80%;
        }
        .xtestimonial h1, .xhead {
            padding: 10px;
        }
        #xsection1 {
            padding: 10px 0;
        }
        .xcta {
            position: initial;
            .xreal {
                margin-right: 0px;
                span {
                    font-weight: 700;
                    padding: 20px 20px;
                    width: 60%;
                    margin: 10px 0;
                }
            }
            .xvirtual span {
                background-color: $COLOR_BRAND_BLUE;
                font-weight: 700;
                padding: 20px 20px;
                width: 60%;
            }
        }
    }
}
